@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    box-sizing:border-box;

}
body{
    background-color: #681f54;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family:'Lato','sans-serif';
    margin:0;
}
.filme-container{
    margin:20px 0;
}
.filme-container select{
    background-color: #FFF;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    appearance: none;
}
.container{
    perspective: 1000px;
    margin-bottom: 30px;
}
.cadeira{
    background-color: #2245B9;
    height: 26px;
    width:32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.cadeira_selecionada{
    background-color: #32ce0f;
    
    height: 26px;
    width:32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}
.cadeira_vendida{
    background-color: #fff;
    height: 26px;
    width:32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.cadeira:nth-of-type(2){
    margin-left: 18px;
}
.cadeira:nth-last-of-type(2){
    margin-right: 18px;
}
.cadeira:not(.vendida):hover{
    cursor:pointer;
    transform: scale(1.2);
}
.cadeira::selection{
 color:#2245B9;
}
.showcase .cadeira:not(.vendida):hover{
    cursor:default;
    transform: scale(1);
}
.showcase{
 background-color: rgba(0,0,0,0.1);
 padding: 5px 10px;
 border-radius: 5px;
 color: #777;
 list-style-type: none;
 display:flex;
 justify-content: space-between;
}
.showcase li{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.showcase li small{
    margin-left: 2px ;
}
.vagas{
    display:flex;
}
.tela{
    background-color: #FFF;
    height: 120px;
    width:100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow:  0 3px 10px rgba(255,255,255, 0.7);
}
p.text{
    margin: 5px 0;
}
p.text span{
    color: rgb(158,248,158);
}
.confirma input{
    background-color: rgb(255, 205, 205);
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    appearance: none;
}